.photo {
    margin: auto;
}
.photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.cardst{
    text-align: center; 
    height: 450px; 
    background-color:rgb(200, 251, 238) !important;
}

.exp_intro {
    color: #666666;
    margin-bottom: 2px;
}